/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
footer {
  margin-top: 100px;
}
table,
td,
th {
  vertical-align: middle;
  border: none;
}
th {
  border-bottom: 1px solid #ddd;
}
body {
  margin: 0;
}
.center-text {
  text-align: center;
}

/* rrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.page-wrapper {
  min-height: 100vh;
}
.bg-gra-01 {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fbc2eb),
    to(#a18cd1)
  );
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.p-t-180 {
  padding-top: 8%;
}
.p-b-100 {
  padding-bottom: 8%;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}
.wrapper {
  margin: 0 auto;
}
.wrapper--w780 {
  max-width: 780px;
}
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-3 {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}
.card-4 {
  padding-top: 3%;
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 35%;
  margin: 0 auto;
  display: table;
}
.card-3 .card-heading {
  background: url("../images/bg-heading-03.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
}

.card-3 .card-login {
  background: url("../images/bg-heading-02.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
}

.card-3 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

@media (max-width: 767px) {
  .card-3 {
    display: block;
  }
  .card-3 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3 .card-body {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}
/* input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
} */
.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.input--style-3 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  border: none;
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.input--style-3::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

.input--style-3:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

.input--style-3::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

.input--style-3:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.input--style-3:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}
.p-t-10 {
  padding-top: 10px;
}
.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 15px;
}

.btn--book {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 45%;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--pill {
  border: 1px solid #b3cc4e;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
}

.btn--green {
  background: #b3cc4e;
}

.btn--green:hover {
  background: #dbf768;
}

.btn--blue {
  background: #5aa197;
}

.btn--blue:hover {
  background: #7ed9cc;
}

.btn--red {
  background: #470909;
}

.btn--red:hover {
  background: #c20000;
}

.btn--back {
  background: #c2b176;
}

.btn--back:hover {
  background: #fae496;
}

.btn--edit {
  width: 44%;
  background: #c2b176;
}

.btn--edit:hover {
  background: #fae496;
}

.fix-container {
  width: 100%;
}
.bg-primary {
  background-color: black !important;
}
.border-none {
  border: none;
}
.fix-text {
  width: 100%;
}
.fix-img {
  height: 100%;
}
.table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.bottom {
  margin-bottom: 3%;
}
.page-book {
  margin-top: 4%;
  height: 500px;
}
p {
  margin-bottom: 0;
}
.alert {
  margin-bottom: 0;
}
.text-book {
  font-size: 24px;
}
.link {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2%;
}
div.actions {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
div.action {
  text-align: left;
}

.card-6 {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 70%;
  margin: 0 auto;
  display: table;
}
.card-6 .card-table {
  padding: 0 5%;
  display: table-cell;
  width: 50%;
}
.card-6 .card-bodies {
  display: table-cell;
}
.card-5 {
  padding-top: 3%;
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: table;
  width: 100%;
}

.card-6 .card-bodiess {
  display: table-cell;
}
.node {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.btn--node {
  display: inline-block;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 15px;
  width: 47%;
  background: #5aa197;
}
