<div class="page-book">
<h2 class="text-book center-text">New Review</h2>
    <div class="card card-4">

        <%= render 'form', review: @review %>
        <div class="link"> <%= link_to 'Back',reviews_path ,class:"btn btn--pill btn--back" %></div>
       
    </div>
</div>